<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moft.xfapply">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
<!--        android:name="com.moft.xfapply.app.LvApplication"-->
<!--        android:allowBackup="true"-->
<!--        android:icon="@drawable/ic_launcher"-->
<!--        android:label="@string/app_name"-->
<!--        android:supportsRtl="true"-->
<!--        android:theme="@style/AppTheme"-->
        <activity
            android:name="com.moft.xfapply.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name="com.moft.xfapply.activity.PrepareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moft.xfapply.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.SettingAuthorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moft.xfapply.activity.SettingParamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moft.xfapply.activity.SettingOfflineDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moft.xfapply.activity.SettingAboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moft.xfapply.activity.SettingServerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moft.xfapply.activity.MyUserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moft.xfapply.activity.PwdEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="com.moft.xfapply.activity.UpdateUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="com.moft.xfapply.activity.WsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.WsRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moft.xfapply.activity.MapSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="com.moft.xfapply.activity.MapPosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moft.xfapply.activity.PanoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moft.xfapply.activity.PickOrTakeImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moft.xfapply.activity.PickBigImagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moft.xfapply.activity.OldPlanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moft.xfapply.activity.PanoramaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moft.xfapply.activity.GpsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.UpdateIncDataDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.KeyUnitPartitionDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.KeyUnitSubPartitionDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.KeyUnitFireFacilityDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.KeyUnitKeyPartDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.FireEnginePartDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.DataQualityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.DataDynamicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.DataProgressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.DataMobileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.QRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.ReportErrorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.DisasterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.HcSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moft.xfapply.activity.HcDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.DealProgramActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.KnowledgeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.KeyUnitDisposalPointActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.DisposalPointDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.LawRegulationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.PlanLibraryCatalogsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.moft.xfapply.activity.PlanLibraryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />

        <service
            android:name="com.moft.xfapply.push.PushService"
            android:enabled="true"
            android:process=":push">
            <intent-filter android:priority="1000">
                <action android:name="com.moft.xfalarm.action.PUSH_SERVICE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.moft.xfapply.push.EventReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.moft.xfapply.push.NotificationReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="complaint_receiver" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.moft.xfapply.service.GpsService"
            android:label="GPS服务" />
        <service
            android:name="com.moft.xfapply.service.LocationService"
            android:label="位置上报服务" />

        <!--<meta-data-->
        <!--android:name="com.baidu.lbsapi.API_KEY"-->
        <!--android:value="H3fcflXbch4NzsyDlGxKIApUACiHXnAP" />-->

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="1NVCxPbCrniuCGGTzObGHgscwDc2HrwQ" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>